<div layout="row" layout-align="start center" class="clickable" qv-hover-card qv-hover-tpl="views/templates/default/app/partials/hoverCard/project/projectHoverCardTpl.html" qv-hook-data="item" >
  <div class="left_panel_item_avatar" layout="row" layout-align="center center">
    <div class="item_avatar" layout="row" layout-align="center center">
      <img src="{{(item.main_image && item.main_image.abs_url?item.main_image.abs_url:'themes/default/resources/icons/estate_icon.png')}}" alt="{{(item.main_image)?item.main_image.cap_text:item.name}}"></img>
    </div>
  </div>
  <div class="left_panel_item_label" layout="row" layout-align="start center">
    {{item.name}}
  </div>

  {{test}}
</div>
