.size_30x30{
  max-width: 30px;
  max-height: 30px;
}

.size_25x25{
  max-width: 25px;
  max-height: 25px;
}

.size_20x20{
  max-width: 20px;
  max-height: 20px;
}

.size_abs_18x18{
  width: 18px;
  height: 18px;
}
