$main_color:          #3498db;                        //the main color using throught out the app
$error_color:         #ff6545;
$success_color:       #00bcd4;
$gray_color:          rgba(0, 0, 0, 0.1);
$bold_color: rgba(0, 0, 0, 0.54);
$main_background_color:    #f5f6f7;                   //the main background color
$header_color:             #33485f;
$small_text_gray_color:    rgba(0, 0, 0, 0.35);
$progress_bar_background:    rgba(170, 209, 249, 0.35);
$gray_border: 1px solid $gray_color;
$separator_gray_color:rgba(0, 0, 0, 0.09);
$link_color: rgba(52, 152, 219, 0.87);
