md-toast.md-default-toast-theme {
  background-color: $main_color;
}

md-toast.md-success-toast-theme {
  background-color: $success_color;
}

md-toast.md-error-toast-theme {
  background-color: $error_color;
}
